<ng-container *ngIf="pending$ | async as pendingactions">
  <ng-container *ngIf="data$ | async | normalizeTree : maxDepth as trees">
    <div tree>
      <div moredata>
        <input #value [defaultValue]="defaultCount" type="number" max="1000" min="1" (keydown.enter)="more(value.value)"/>
        <button (click)="more(value.value)" i18n>load more</button>
      </div>
      <div search>
        <input type="number" min=1 [defaultValue]=1 #goto (keydown.enter)="qsctree.scrollto$.emit(goto.value)">
        <button (click)="qsctree.scrollto$.emit(goto.value)" i18n>Focus</button>
      </div>
      <div qsc
        #qsctree
        [tree]='trees'
        [scrollto]="qsctree.scrollto$ | async | numeric"
        (reparent$)="$event && reparent($event[1].id, $event[0].id)">
        <ng-template
          qst-tree-node
          let-node>
          <ng-container *ngIf="pendingactions | state : node.id as relatedactions">
            <div *ngIf="relatedactions.length > 0" qsc status [nodestate]="relatedactions"></div>
          </ng-container>
          <input
            type="text"
            [value]="node.value"
            placeholder="node name"
            i18n-placeholder
            maxlength=100
            minlength=1
            (change)="[edit(node.id, $event.target.value), $event.target.value = node.value]"/>
          <button (click)="delete(node.id)">&times;</button>
          <button (click)="add(node.id)">+</button>
          <button (click)="duplicate(node.id)">⧉</button>
        </ng-template>
      </div>
    </div>

    <div pending @animate *ngIf="pendingactions.length > 0">
      <button i18n (click)="apply(pendingactions, trees)">Apply pending operations</button>
      <button i18n (click)="pending$.next([])">Cancel all pending operations</button>
      <div
        qsc
        [operations]="pendingactions"
        (operations$)="pending$.next($event)">
        <ng-template let-operation>
          <button (click)="qsctree.scrollto$.emit(operation.id)">*</button>
        </ng-template>
      </div>
    </div>
  </ng-container>
</ng-container>
