input {
  width: 100%;
  position: relative;
}

:host {
  flex-direction: row;
  display: flex;
  align-items: stretch;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  [tree] {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: stretch;
    width: 50%;
    height: calc(100% - 1rem);
    margin-top: 1rem;
    
    [moredata], [search] {
      position: sticky;
      top: 0;
      z-index: 1;
      display: flex;
      flex-grow: 0;
      flex-direction: row;
      align-items: flex-start;
      justify-content: stretch;

      input {
        text-align: right;
      }
    }

    div[qsc] {
      flex-grow: 1;
    }

    div[status] {
      width: 2rem;
      height: 2rem;
      padding: .25rem;
      box-sizing: border-box;
    }
  }


  [pending] {
    overflow: hidden;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    position: relative;
    width: 50%;
    box-sizing: border-box;

    button {
      position: sticky;
      top: 0;
      white-space: nowrap;
    }
  }

  @media screen and (min-aspect-ratio: 4/3) {
    padding: 0 10%
  }
  
  @media screen and (min-aspect-ratio: 5/3) {
    padding: 0 15%
  }

  @media screen and (min-aspect-ratio: 6/3) {
    padding: 0 20%
  }
}
