:host {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;

  div {
    flex-grow: 1;
    flex-shrink: 1;

    &[deleted] {
      order: 3;
      background-color: crimson; 
    }
    &[reparented] {
      order: 5;
      background-color: seagreen; 
    }
    &[edited] {
      order: 4;
      background-color: goldenrod; 
    }
    &[childadded] {
      order: 1;
      background-color: darkblue; 
    }
    &[duplicated] {
      order: 2;
      background-color: deeppink;
    }
  }
}

:host(.deleting) {
  div {
    display: none;

    &[deleted] {
      display: block;
    }
  }
}
