<ng-container
  *ngFor="let op of nodestate; trackBy: tracker"
  [ngSwitch]="op">
  <div
    deleted
    i18n-title
    title="item will be deleted on apply"
    *ngSwitchCase="variants.DELETE"></div>
  <div
    reparented
    i18n-title
    title="item is reparented"
    *ngSwitchCase="variants.REPARENT"></div>
  <div
    edited
    i18n-title
    title="item value edited"
    *ngSwitchCase="variants.EDIT"></div>
  <div
    childadded
    i18n-title
    title="child node was added to item"
    *ngSwitchCase="variants.ADDCHILD"></div>
  <div
    duplicated
    i18n-title
    title="node was duplicated"
    *ngSwitchCase="variants.DUPLICATE"></div>
</ng-container>