<cdk-virtual-scroll-viewport
  [itemSize]="48.9"
  orientation='vertical'>
  <ul
    #ul
    *ngIf="tree"
    (pointermove)="dragtarget && (dragtarget.style.transform = 'translateY('+ '' + ($event.y - dragtarget.offsetTop - ul.getBoundingClientRect().top) +'px)')"
    (document:pointerup)="[dragtarget && dragtarget.classList.remove('dragging'), ul.classList.remove('dragging'), dragtarget && (dragtarget.style.transform = ''), dragtarget = null]"
    (document:pointercancel)="[dragtarget && dragtarget.classList.remove('dragging'), ul.classList.remove('dragging'), dragtarget && (dragtarget.style.transform = ''), dragtarget = null]">
    <ng-container
      *cdkVirtualFor="let item of tree; trackBy: tracker; let i = index; templateCacheSize: 0">
      <li
        #li
        [class.movable]="reparent"
        (dragstart)="reparent && [$event.preventDefault(), li.classList.add('dragging'), ul.classList.add('dragging'), dragging$.next(item), dragtarget = li]"
        (pointerup)="dragtarget && [li.classList.remove('dragover'), dropped$.next(item)]"
        draggable="true"
        [attr.level]="item.level"
        [attr.leaf]="item.leaf"
        [attr.last]="item.lastchild"
        [attr.prefix]="item.prefix.join('')">
        <div
          [attr.hidden]="item.hidden || null"
          [attr.id]="item.id"
          [class.highlight]="scrollto === item.id"
          legend="Children hidden: "
          i18n-legend>
          <ng-template
            [ngTemplateOutlet]="renderer.template"
            [ngTemplateOutletContext]="{$implicit: item}"></ng-template>
        </div>
      </li>
      <hr *ngIf="tree[i + 1] && tree[i + 1].level === 0" />
    </ng-container>
  </ul>
</cdk-virtual-scroll-viewport>
