@import '~node_modules/sassybitwise/dist/SassyBitwise';
@import '~node_modules/sass-math-pow/sass/math-pow';


@function blackpixel() {
  @return url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mNk+A8AAQUBAScY42YAAAAASUVORK5CYII=);
}

@function str-repeat($str, $count) {
  @if ($count <= 0) {
    @return '';
  }
  $retval: '';
  @for $i from 1 through $count {
    $retval: #{$retval}#{$str};
  }
  @return $retval;
}

@function list-slice($list, $start: 1, $end: length($list)) {
  $result: ();
  @for $i from $start through $end {
    $result: append($result, nth($list, $i));
  }
  @return $result;
}

@function structure($descriptor, $spacing, $stroke) {
  @if (str-length($string: $descriptor) == 0) {
    @return ();
  }
  $retval: ();
  @for $i from 1 through str-length($descriptor) {
    $char: str-slice($descriptor, $i, $i);
    @if ($char == '|') {
      $retval: $retval, blackpixel() #{($i - 1)*$spacing} 0 / #{$stroke} 100% no-repeat;
    }
  }
  @return $retval;
}

@function descriptors($left: 0, $code: '') {
  @if $left < 0 {
    @return ( $code + ' ', $code + '|' );
  }

  @return
    join(
      ( $code + ' ', $code + '|' ),
      join(
        descriptors($left - 1, $code + ' '),
        descriptors($left - 1, $code + '|')));
}

@mixin tree($spacing, $stroke, $maxdepth: 5) {
  @for $i from 0 through $maxdepth {
    li[level="#{$i}"] {
      padding-left: $i * $spacing;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: $spacing * ($i - 1);
        width: calc(#{$spacing} + #{$stroke});
      }
      &[last="false"][leaf="false"]:before {
        background:
          blackpixel() 0 0 / #{$stroke} 100% no-repeat,
          blackpixel() 0 50% / #{$spacing} #{$stroke} no-repeat,
          blackpixel() right 0 bottom 0 / #{$stroke} #{$spacing * .25} no-repeat;
      }
      &[last="false"][leaf="true"]:before {
        background:
          blackpixel() 0 0 / #{$stroke} 100% no-repeat,
          blackpixel() 0 50% / #{$spacing} #{$stroke} no-repeat;
      }
      &[last="true"][leaf="false"]:before {
        background:
          blackpixel() 0 0 / #{$stroke} 50% no-repeat,
          blackpixel() 0 50% / #{$spacing} #{$stroke} no-repeat,
          blackpixel() right 0 bottom 0 / #{$stroke} #{$spacing * .25} no-repeat;
      }
      &[last="true"][leaf="true"]:before {
        background:
          blackpixel() 0 0 / #{$stroke} 50% no-repeat,
          blackpixel() 0 50% / #{$spacing} #{$stroke} no-repeat;
      }
    }
  }

  $descs: descriptors($maxdepth - 1, '');
  @each $descriptor in $descs {
    li[prefix="#{$descriptor}"] {
      background: structure($descriptor, $spacing, $stroke);
    }
  }
}





:host {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: stretch;

  div {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: center;

    input {
      flex-grow: 1;
    }
  }

  cdk-virtual-scroll-viewport {
    flex-grow: 1;
    flex-shrink: 1;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

  ul.dragging {
    > li.dragging {
      pointer-events: none;
    }
    li:not(.dragging) {
      transition: transform .2s ease-in-out;
    }
    > li:not(.dragging),
    > li:hover ~ li {
      transform: translateY(0);
    }
    > li.dragging ~ li {
      transform: translateY(-100%);
    }
    > li:hover ~ li:not(.dragging) {
      transform: translateY(100%);
    }
    > li.dragging ~ li:hover ~ li,
    > li.dragging:hover ~ li {
      transform: translateY(0);
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: stretch;
    position: relative;

    hr {
      flex-grow: 1;
      width: 100%;
    }

    li {
      margin: 0; 
      position: relative;
      display: flex;
      flex-direction: row;
      width: 100%;
      box-sizing: border-box;
      padding: .25rem 0;
      user-select: none;
      box-sizing: border-box;

      li.movable div:after {
        content: attr(id) ' ☰';
        cursor: move;
      }

      div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: stretch;
        width: 100%;
        padding: .25rem;
        margin-right: .25rem;
        background-color: lightgrey;
        border: 1px solid black;
        outline-style: solid;
        outline-offset: -.25rem;
        outline-width: 2pt;
        outline-color: rgba(0, 0, 255, 0);
        transition: outline-color 3s;

        &.highlight {
          outline-color: rgba(0, 0, 255, .5);
          transition: none;
        }

        &:after {
          content: attr(id);
          font-size: 1rem;
          padding: 0 .25rem 0 .5rem;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          text-align: center;
        }
  
        &[hidden] {
          padding: .5rem .5rem 2rem .5rem;
          position: relative;
  
          &:before {
            content: attr(legend) attr(hidden);
            display: block;
            white-space: nowrap;
            clear: both;
            font-size: 1rem;
            position: absolute;
            bottom: .5rem;
            right: .5rem;
            text-align: center;
            opacity: .5;
          }
        }
      }
    }

    @include tree(1rem, 1px, 10);
  }
}
