/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

html {
  font-size: 10pt;
}

button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  margin: .25rem;
  padding: .25rem;
  border: none;
  outline: 1px solid grey;
  transition: background-color .2s;
  white-space: nowrap;

  &:not(:disabled) {
    cursor: pointer;
  }

  &:hover,
  &:focus {
    background-color: rgba(0, 0, 255, .1);
    transition: none;
  }
}

input {
  font-size: 1rem;
  margin: .25rem;
  padding: .25rem;
  border: none;
  outline: 1px solid grey;
  outline-offset: 0;
  transition: outline-color .2s;

  &:hover,
  &:focus {
    outline: 1px solid rgba(0, 0, 255, .5);
    outline-offset: 0;
    border: none;
    transition: none;
  }
}
