<ng-container
  *ngFor="let operation of operations | group; trackBy: tracker">
  <div
    #actions
    operations
    legend="target id: "
    i18n-legend
    [class.deleting]="operation.actions | isdeleting"
    [attr.target]="operation.id">
    <ng-container
      *ngFor="let action of operation.actions; trackBy: typetracker"
      [ngSwitch]="action.type">
      <div
        @animate
        (click)="cancelop(action)"
        i18n-title
        title="Cancel this operation"
        delete
        *ngSwitchCase="variants.DELETE"
        i18n-legend
        legend="Removing node and subtree"></div>
      <div
        @animate
        (click)="cancelop(action)"
        i18n-title
        title="Cancel this operation"
        edit
        *ngSwitchCase="variants.EDIT"
        [attr.value]="action.value"
        i18n-legend
        legend="Updating value">
      </div>
      <div
        @animate
        (click)="cancelop(action)"
        i18n-title
        title="Cancel this operation"
        reparent
        *ngSwitchCase="variants.REPARENT"
        [attr.parent]="action.parent"
        i18n-legend
        legend="Changing parent"></div>
      <div
        @animate
        (click)="cancelop(action)"
        i18n-title
        title="Cancel this operation"
        addchild
        *ngSwitchCase="variants.ADDCHILD"
        [attr.parent]="action.id"
        i18n-legend
        legend="Adding child">
        <input (click)="$event.stopImmediatePropagation()" (change)="update(action, childv.value)" #childv [attr.value]="action.value" i18n-placeholder placeholder="node value">
      </div>
      <div
        @animate
        (click)="cancelop(action)"
        i18n-title
        title="Cancel this operation"
        duplicate
        *ngSwitchCase="variants.DUPLICATE"
        i18n-legend
        legend="Duplicating item"></div>
    </ng-container>
  </div>
  <div actions>
    <button i18n-title title="Remove operation from list" (click)="cancelgroup(operation)">&times;</button>
    <ng-template [ngTemplateOutlet]="template" [ngTemplateOutletContext]="{operation: operation, $implicit: operation}"></ng-template>
  </div>
</ng-container>
