:host {
  display: grid;
  border: 1px solid rgb(169, 169, 169);
  padding: .25rem;
  margin: .25rem 0;
  align-items: flex-start;
  align-content: flex-start;
  grid-template-columns: auto 2rem;
  grid-auto-rows: auto;
  overflow-y: auto;

  [actions] {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  [operations] {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin: .25rem;
    padding: .25rem;
    border: 1px solid rgb(169, 169, 169);
    background-color: rgba(0, 0, 0, .2);
    box-sizing: border-box; 

    &.deleting {
      div {
        display: none;

        &[delete] {
          display: block;
        }
      }
    }

    &:after {
      content: attr(legend) attr(target);
      padding-left: .75rem;
      font-size: 1rem;
      white-space: nowrap;
      opacity: .5;
      align-self: flex-end;
      box-sizing: border-box;
    }
    
    > div {
      flex-grow: 1;
      padding: .25rem;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      border-left-style: solid;
      border-left-width: 1pt;
      overflow: hidden;
      white-space: nowrap;
      width: 100%;
      box-sizing: border-box;
      background-color: rgba(0, 0, 0, .1);
      transition: background-color .2s;
      cursor: pointer;

      &:hover {
        background-color: rgba(0, 0, 255, .1);
        transition: none;
      }

      &:before {
        padding-left: .75rem;
        font-size: 1rem;
        white-space: nowrap;
        content: attr(legend);
        box-sizing: border-box;
      }

      &:after {
        padding-left: .75rem;
        font-size: .75rem;
        opacity: .5;
        white-space: nowrap;
        box-sizing: border-box;
      }

      &[delete] {
        border-color: crimson;
      }

      &[duplicate] {
        border-color: deeppink;
      }

      &[edit] {
        border-color: goldenrod;
        &:after {
          content: attr(value);
        }
      }

      &[reparent] {
        border-color: seagreen;
        &:after {
          content: attr(parent);
        }
      }

      &[addchild] {
        border-color: darkblue;
        &:after {
          content: attr(parent);
        }
      }
    }
  }
}