input {
  width: 100%;
  position: relative;
}

:host {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  > div {
    flex-grow: 1;
    flex-shrink: 1;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    border: 1px solid grey;
    background-color: lightgrey;
    padding: 0 1rem;
  }

  [database] {
    order: 3;
    align-items: center;
    justify-content: stretch;
    
    > div {
      flex-grow: 1;
      width: 100%;
    }
  }

  [cache] {
    order: 1;
    align-items: center;
    justify-content: stretch;

    > div {
      flex-grow: 1;
      width: 100%;
    }

    [status] {
      height: 100%;
      width: 3rem;
    }
  }

  [operations] {
    order: 2;
    flex-grow: 0;
    align-items: stretch;
    justify-content: flex-start;
  }
}
