<ng-container *ngIf="database$ | async as database">
<ng-container *ngIf="cache$ | async | normalizeTree as cache">
<ng-container *ngIf="actions$ | async as actions">

<div cache>
  <h4 i18n>Cache</h4>
  <sub *ngIf="cache.length === 0">cache is empty</sub>
  <div qsc
    @animate
    #cachetree
    *ngIf="cache.length > 0"
    [reparent]="false"
    [tree]="cache">
    <ng-template
      qst-tree-node
      let-node>
      <ng-container *ngIf="actions | state : node.id as relatedactions">
        <div *ngIf="relatedactions.length > 0" qsc status [nodestate]="relatedactions"></div>
      </ng-container>
      <input
        type="text"
        [value]="node.value"
        placeholder="node name"
        i18n-placeholder
        maxlength=100
        minlength=1
        (change)="[edit(node.id, $event.target.value), $event.target.value = node.value]"/>
      <button (click)="delete(node.id)">&times;</button>
      <button (click)="add(node.id, '')">+</button>
      <button (click)="duplicate(node.id)">⧉</button>
    </ng-template>
  </div>
</div>

<div operations>
  <h4 i18n>Operations</h4>
  <button i18n-title title="Reset cache and database" (click)="reset()">↻</button>
  <ng-container *ngIf="actions.length > 0">
    <button i18n-title title="Apply pending operations to database" (click)="apply(actions, cache)">→</button>
    <div
      @animate
      qsc
      [operations]="actions"
      (operations$)="actions$.next($event)">
    </div>
  </ng-container>
</div>

<div database>
  <h4 i18n>Database</h4>
  <div qsc
    @animate
    *ngIf="database.length > 0"
    [reparent]="false"
    [tree]='database | normalizeTree'>
    <ng-template
      qst-tree-node
      let-node>
      <button (click)="load(node)" i18n-title title="Load selected items from database">←</button>
      <input
        type="text"
        [value]="node.value"
        readonly/>
    </ng-template>
  </div>
</div>

</ng-container>
</ng-container>
</ng-container>
